html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

*::selection {
  background: rgba(0, 0, 0, 0.65);
  color: #ffffff;
}

.hide {
  display: none!important;
}

.header {
  height: 82px;
  border-bottom: 1px solid #e8e8e8;
}

.header .menu {
  height: 46px;
  background: #001529;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .menu h1 {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
}

.header .menu h1 i {
  font-size: 20px;
  margin-right: 5px;
}

.header .menu .nav {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 15px;
}

.header .menu .nav .item {
  list-style: none;
  float: left;
  margin: 0 0 0 20px;
  cursor: default;
  position: relative;
}

.header .menu .nav .item .dropdown-menu {
  display: none;
  padding-top: 15px;
  position: absolute;
  top: 19px;
  z-index: 99;
  left: 0;
}

.header .menu .nav .item:hover .dropdown-menu {
  display: flex;
}

.header .menu .nav .item a {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

.header .menu .nav .item:hover a {
  color: rgba(255, 255, 255, 1);
}

.header .menu .nav .item i {
  margin-right: 3px;
}

.header .group {
  margin-left: 10px;
}

.header .group:first-child {
  margin-left: 5px;
}

.header .filters {
  height: 36px;
  /* padding: 5px; */
  font-size: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .filter-input {
  height: 25px;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  padding: 0 2px;
  outline: none;
}

.header .file-types {
  margin: 0;
  padding: 0 10px;
}

.header .file-types .item {
  float: left;
  list-style: none;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 2px;
}

.header .file-types .item.active, .header .file-types .item:hover {
  background: #e8e8e8;
  border-radius: 3px;
}

.header .file-types .item.spliter {
  border-right: 1px solid #e8e8e8;
  margin-left: 6px;
  height: 23px;
  width: 1px;
  padding: 0;
}

section.body {
  flex: 1;
  overflow: auto;
  font-size: 13px;
}

table {
  column-span: none;
  table-layout: fixed;
  border-collapse: collapse;
  /* border: 1px solid #e8e8e8; */
  width: 100%;
  color: #000000;
  cursor: default;
}

table thead tr th {
  height: 40px;
  background: #fafafa;
  position: sticky;
  top: 0;
  border-top: none;
  border-bottom: none;
  overflow: visible;
}

table thead tr th:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

table thead tr th .table-label {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

table thead tr th .cell-resizer {
  position: absolute;
  display: block;
  top: 0;
  right: -1px;
  height: 100%;
  width: 1px;
  background: #e8e8e8;
  /* cursor: col-resize; */
}

table thead tr th .cell-resizer:before {
  content: " ";
  display: block;
  width: 3px;
  height: 100%;
  background: transparent;
  position: absolute;
  left: -3px;
  top: 0;
}

table tbody tr {
  height: 50px;
}

table tbody tr:nth-child(even) {
  background: #fafafa;
}

table tbody tr:hover, table tbody tr.active {
  background: #ebf9f9;
}

table th, td {
  text-align: left;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

table tbody tr:first-child td {
  border-top: none;
}

table .text-gray {
  color: #838383;
}

/* others */
.header-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sort-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  font-size: 18px;
  color: #969696;
}

.sort-arrow i {
  height: 6px;
  overflow: hidden;
}

.sort-arrow i:hover, .sort-arrow i.active {
  color: #000000;
}

.sort-arrow .up {
  margin: 1px;
}

.sort-arrow .down {
  margin: 1px;
}


.sort-arrow .up:before {
  position: relative;
  bottom: 6px;
}

.sort-arrow .down:before {
  position: relative;
  top: -8px;
}

.network-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.network-name .file-type-img {
  width: 35px;
  height: 35px;
  margin-left: -2px;
  margin-right: 3px;
}

.network-name .url-path {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* network detail */

.network-detail {
  position: absolute;
  left: 30%;
  right: 0;
  top: 83px;
  bottom: 0;
  background: #ffffff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.network-detail .spliter {
  width: 1px;
  height: 100%;
  left: -5px;
  top: 0;
  position: absolute;
  z-index: 2222;
  padding: 0 3px;
  cursor: col-resize;
}

.network-detail header {
  width: 100%;
  height: 30px;
  background: #eee;
  line-height: 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ccc;
  /* border-top: 1px solid #ccc; */
}

.network-detail header .close {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin: 0 5px;
  cursor: pointer;
}

.network-detail header .tab {
  text-align: center;
  width: 80px;
  border-right: 1px solid #ccc;
  height: 31px;
  line-height: 30px;
  cursor: default;
}

.network-detail header .active {
  background: #FFFFFF;
}

.network-detail section.body {
  padding: 10px;
  font-size: 13px;
  flex: 1;
  overflow: auto;
}

.network-detail .group-header {
  border-bottom: 1px solid #E0E0E0;
  margin: 15px 0 0 0;
  padding-bottom: 5px;
  font-size: 14px;
}

.network-detail .group-header:first-child {
  margin: 0 0;
}

.network-detail section.body img {
  max-width: 100%;
}

.network-detail ul.list {
  /* margin-left: 15px; */
  margin: 0;
  padding-left: 1em;
}

.network-detail ul.list li {
  list-style: none;
  line-height: 22px;
  word-break: break-all;
}

.network-detail ul.list li span {
  font-family: monospace;
  color: #353535;
}

.network-detail pre {
  margin: 0;
  padding: 0!important;
  overflow: visible!important;
  background: none!important;
}

/* qrcode */
.qrcode {
  width: 590px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
  box-shadow: 0 3px 15px rgba(0,0,0,.3);
  color: black;
}

.qrcode a {
  color: #10b2f9!important;
}

.qrcode h3 {
  margin: 0;
}

.qrcode p {
  margin: 0;
  padding: 0;
  margin-bottom: .15em;
}

.qrcode .tips {
  color: orange;
}

.qrcode img {
  width: 140px;
  height: 140px;
  margin-right: 10px;
}